body{
    flex-grow: 1;
}

main{
    height: 86vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 700px;
}

.quadrado{
    width: 700px;
    min-height: 700px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins';
    font-style: normal;
    line-height: 27px;
}

.infoAluno{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3347B0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-weight: 500;
    font-size: 2rem;

}

.notas{
    background: #FFFFFF;
    font-weight: 700;
    font-size: 18px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nota{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 80px;
}

.nivelNota{
    height: 16px;
}

.nota::-webkit-progress-value{
    background-color: black;
}

.nota progress::-webkit-progress-bar{
    background-color: #EEEFF8;
    height: 16px;
}

.blue progress::-webkit-progress-value{
    background-color: #3347B0;
    box-shadow: 0px 0px 24px #3347B0;
}

.valorNota{
    color: #3347B0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
}



.yellow progress::-webkit-progress-value{
    background-color: #E5B657;
    box-shadow: 0px 0px 24px #E5B657;
}

.yellow .numeroNota{
    color: #E5B657;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.red progress::-webkit-progress-value{
    background-color: #C11010;
    box-shadow: 0px 0px 24px #C11010;
}

.red .numeroNota{
    color: #C11010;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

@keyframes changeBackgroundColor {
    0% {
        background-color: #3347B0;
      }
      50% {
        background-color: #E5B657;
      }
      100% {
        background-color: #C11010;
      }
}
    
progress{
    animation: changeBackgroundColor 7s infinite;
}

.color{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

/*.color */progress{
    display: inline-block;
    border-radius: 15px;
    transform: rotate(-90deg);
    height: 16px;
}

