.cima{
    height: 7vh;
    background-color: #3347B0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    padding-right: 20px;
}

footer{
    height: 7vh;
    background-color: #3347B0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.informations{
    display: flex;
    flex-direction: column;
}

.social-medias{
    display: flex;
    gap: 10px;
}
.social-media{
    height: 30px;
    width: 30px;
    border: solid 2px white;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}